<section class="card">
  <div class="card-title center">
    Application Details
  </div>
  <div *ngIf="!application" class="card-content" >
    <h5 class="center-align">Please Select An Application To View</h5>
  </div>
  <div *ngIf="application" class="card-content">
    <div class="applicantGrid">
      <div class="title">Name:</div>
      <div class="left-align">
        {{application.name}}
        <span *ngIf="application.bookmarked == 1" class="badge new blue" data-badge-caption=""><i class="fa fa-bookmark" aria-hidden="true"></i></span></div>
        <div class="title">Position:</div>
        <div class="left-align">{{application.position}}</div>
        <div class="title">Experience:</div>
        <div class="left-align">{{application.experience}}</div>
        <div class="title">Applied:</div>
        <div class="left-align">{{application.applied}}</div>
      </div>
      <div *ngIf="application.questions">
        <br>
        <div class="divider"></div>
        <br>
        <section class="applicationQuestionGrid">
          <div class="title" >Question</div>
          <div class="title">Answer</div>
        </section>
        <section *ngFor="let qq of application.questions" class="applicationQuestionGrid">
          <div class="left-align">{{qq.text}}</div>
          <div class="left-align">{{qq.answer}}</div>
        </section>
      </div>
      <br>
      <div class="divider"></div>
      <div class="section">
        <h5 class="center-align">Availablity</h5>
        <div class="availabilityGrid">
          <div class="center-align" *ngFor="let ww of weekDays">
            <span class="title">{{ww.full}}</span>
            <br>
            <div *ngIf="application.availability[ww.id] == 0">
              Not Available
            </div>
            <div *ngIf="application.availability[ww.id] > 0">
              {{application.availability[ww.id]}}
            </div> 
          </div>
        </div>
      </div>
      <div *ngIf="application.bookmarked == 0" >
        <a class="waves-effect waves-light btn green darken-2"
          (click)="bookmark(application)"
          >Bookmark</a>
      </div>
      <div *ngIf="application.bookmarked == 1" >
        <a class="waves-effect waves-light btn red darken-3"
          (click)="bookmark(application)"
          >Remove Bookmark</a>
      </div>
    </div>
</section>